@charset "utf-8";
#hero-compra.header-sobre{
    background-image: url("../img/about/banner.png");
}
#sobre{
    display: flex;
    align-items: center;
}
#sobre img{
    width: 50%;
    height: auto;
}
#sobre div{
    padding-left: 40px;
}
#sobre-app{
    text-align: center;
}
#sobre-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto;
}
#sobre-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
@media(max-width:550px){
    #sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sobre img {
        width: 100%;
    }
    #sobre div {
        padding-left: 0;
    }
    #sobre-app .video {
       width: 90%;
    }
   
}